{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-robokassa" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger">
				<i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-pencil"></i> {{ text_edit }}
				</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-merch-login">{{ entry_merch_login }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_roskassa_login" value="{{ payment_roskassa_login }}" placeholder="{{ entry_merch_login }}" id="input-merch-login" class="form-control" />
							{% if error_merch_login %}
								<div class="text-danger">{{ error_merch_login }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
						<div class="col-sm-10">
							<input type="password" name="payment_roskassa_password" value="{{ payment_roskassa_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
							{% if error_password1 %}
								<div class="text-danger">{{ error_password }}</div>
							{% endif %}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_result_url }}</label>
						<div class="col-sm-10">
							<div class="form-control">{{ payment_roskassa_result_url }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_success_url }}</label>
						<div class="col-sm-10">
							<div class="form-control">{{ payment_roskassa_success_url }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_fail_url }}</label>
						<div class="col-sm-10">
							<div class="form-control">{{ payment_roskassa_fail_url }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
						       for="input-status_id">{{ entry_order_status }}</label>
						<div class="col-sm-10">
							<select name="payment_roskassa_order_status_id" id="input-status_id" class="form-control">
								{% for order_status in order_statuses %}
									{% if order_status.order_status_id == payment_roskassa_order_status_id %}
										<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
									{% else %}
										<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
						       for="input-order-test">{{ entry_test }}</label>
						<div class="col-sm-10">
							<select name="payment_roskassa_test" id="input-test" class="form-control">
								{% if payment_roskassa_test %}
									<option value="1" selected="selected">{{ text_yes }}</option>
									<option value="0">{{ text_no }}</option>
								{% else %}
									<option value="1">{{ text_yes }}</option>
									<option value="0" selected="selected">{{ text_no }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-order-country">
							{{ entry_country }}
						</label>
						<div class="col-sm-10">
							<select name="payment_roskassa_country" id="input-country" class="form-control">
								<option value="RUB" selected="selected">{{ text_ru }}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
						<div class="col-sm-10">
							<select name="payment_roskassa_geo_zone_id" id="input-geo-zone" class="form-control">
								<option value="0">{{ text_all_zones }}</option>
								{% for geo_zone in geo_zones %}
									{% if geo_zone.geo_zone_id == payment_roskassa_geo_zone_id %}
										<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
									{% else %}
										<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
						       for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="payment_roskassa_status" id="input-status" class="form-control">
								{% if payment_roskassa_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_roskassa_sort_order" value="{{ payment_roskassa_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }} 
